<%- include('./header.ejs') %>
    <br />
    <br />
         

    
    <div class="container">
<h1 class="text-center">Course Edit</h1>         
       <form action="/course_update/<%= d._id%>" method="post">
                <div class="mb-3"> 
                  <label>Name:</label>
                  <input type="text" name="name"  class="form-control"  value="<%= d.name %>">
                </div>
                <div class="mb-3">
                  <label>Email:</label>
                  <input type="email" name="email"  class="form-control"  value="<%= d.email %>" >
                </div>
                <div class="mb-3">
                  <label>Phone:</label>
                  <input type="number" name="phone" class="form-control"  value="<%= d.phone %>" >
                </div>
                <div class="mb-3">
                  <label>City:</label>
                  <input type="text" name="city" class="form-control"   value="<%= d.city %>">
                </div>
                <div class="mb-3">
                  <label>Address:</label>
                  <input type="text" name="address" class="form-control"  value="<%= d.address %>">
                </div>
                <div class="mb-3">
                  <label>Course:</label>
                  <input type="text" name="course" value="btech" class="form-control" readonly >
                </div>
                <button class="btn btn-info" type="update">Update</button>
                </form>
    </div>
  <!-- Footer Section start -->
  <div class="container-fluid p-0 footer pt-4">
                          
                           
<%- include('./footer.ejs') %>